html,
body {
  margin: 0;
  height: 100%;
}
#canvas {
  width: 100%;
  height: 100%;
  display: block;
  background-color: "#bfe3dd";
}

#buttonsContainer {
  display: flex;
  justify-content: center;
  /* width: 100%; */
}
#startButton {
  background-color: brown;
  position: fixed;
  bottom: 10%;
}

#shareButton {
  background-color: brown;
  position: fixed;
  bottom: 5%;
}
